{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "globals": {
    "expect": false
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "sourceType": "module",
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-console": 0,
    "arrow-body-style": 0,
    "comma-dangle": ["error", "only-multiline"],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "max-len": ["error", 200],
    "no-param-reassign": 0,
    "no-plusplus": [2, { "allowForLoopAfterthoughts": true }],
    "no-unused-vars": ["error", { "vars": "all", "args": "none" }],
    "no-useless-constructor": 0,
    "object-curly-spacing": 0,
    "object-shorthand": ["error", "always"],
    "spaced-comment": ["error", "always", { "exceptions": ["::", "<"] }]
  }
}
